page-profile {
.image-gallary {
  float: left;
  ion-icon {
    background-color: white;
    width: 21px;
    height: 21px;
    position: absolute;
    margin-left: 5px;
    z-index: 1;
    padding-left: 4px;
  }
}
}
