page-filter {
  .filter-block {
    width: 40%;
    float: left;
    border-right: 1px solid black;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
  }
  ion-label {
    white-space: pre-wrap;
  }
  .filter-options {
    width: 60%;
    float: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
