<!--
  Generated template for the Details page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{viewName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-icon name="funnel" style="float:right" (click)="filterModel()">Filter</ion-icon>
  <ion-item>
  <ion-searchbar
    [(ngModel)]="dataToSearch"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)"
    placeholder="{{placeholder}}">
  </ion-searchbar>
  </ion-item>
  <ion-item>
  <ion-select [(ngModel)]="placeholder" (ionChange)="selected()">
    <ion-option  *ngFor="let option of dropdown; let i = index">{{option}}</ion-option>
  </ion-select>
</ion-item>
  <ion-list>
  <ion-item *ngFor="let option of schools; let i = index" (click)="goToDetails(option)">
    <ion-label>{{option.name}}</ion-label>
    <ion-label>{{option.coachname}}</ion-label>
    <ion-label>{{option.contactno}}</ion-label>
  </ion-item>
  </ion-list>

</ion-content>
