page-school-detail {
ion-fab-list,ion-fab-list .fab-in-list{
    width:74px;

}
.star {
  font-size: 2.6em;
  color: #b2b2ab;
}
.field-heading {
  ion-icon {
    float : right;
  }
}
.field-detail {
  display:-webkit-inline-box;
  width: 90%;
}

.school-contacts {
  ion-label{
    white-space: normal;
  }
}
.school-card {
  button {
    font-size: 0.9rem;
    float: left;
    margin: 17px;
  }
  .color-yellow {
    color : yellow;
  }
}
}
